<div class="main-center">
  <div class="form-group address">
    <div class="page-header">Enter Your Address and Mobile no to confirm order</div>
    <div class="form-group">
      <label>Address</label>
      <textarea [(ngModel)]="address" class="form-control" id="address" rows="4"></textarea>
    </div>
    <div>
      <label>Mobile No</label>
      <input [(ngModel)]="mobile_no" id="mobile" type="tel">
    </div>
    <button (click)="order()" type="button" class="btn btn-success" >
      Order <span class="glyphicon glyphicon-play"></span>
    </button>
  </div>
</div>
