<div class="panel panel-info" >
  <div class="panel-heading" style="height: 60px" ><b class="text-info" style="margin-left: 40%">Waiting to shipment</b> </div>
  <div class="panel-body">

    <table  class="table">
      <thead>
      <tr>
        <th style="text-align: center">UserName</th>
        <th style="text-align: center">ProductName</th>
        <th >Quantity</th>
        <th style="text-align: center">User Email</th>
        <th style="text-align: center">Address</th>
        <th >Mobile no</th>
      </tr>
      </thead>

      <tbody *ngFor="let obj of Order; let i = index">

      <tr *ngIf="obj.product">
        <td style="text-align: center">{{obj.user_name}}</td>
        <td style="text-align: center">{{obj.product}}</td>
        <td style="text-align: center">{{obj.quantity}}</td>
        <td style="text-align: center">{{obj.email}}</td>
        <td style="text-align: center">{{obj.address}}</td>
        <td style="text-align: center">{{obj.mobile_no}}</td>
      </tr>

      </tbody>
    </table>

  </div>
</div>
