<div class="panel panel-primary bg2">
  <div class="page-header">Waiting to shipment</div>

  <div class="panel-body">
    <div *ngFor="let obj of Order; let i = index" class="col-sm-6 col-md-6">
    <div  class="thumbnail" style="padding-left: 20px; font-size: 120%">
      <p><b>Name: </b>{{obj.user_name}}</p>
      <p><b>Products Name: </b>{{obj.product}}</p>
      <p><b>Quantity: </b>{{obj.quantity}}</p>
      <p><b>User Email: </b>{{obj.email}}</p>
      <p><b>Address: </b>{{obj.address}}</p>
      <p><b>Mobile no: </b>{{obj.mobile_no}}</p>

      <a (click)="deleteOrder(obj)" class="btn btn-sm btn-danger a-btn-slide-text">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete
      </a>
    </div>
  </div>
  </div>
</div>
