<div class="bg">
  <div class="about rcorners">
    <h2>About Us</h2>
    <div class="description">
      <span>
      <b>At <a href="/">BelaObela</a>, We believe that customers deserves best
      products at affordable price. So our mission is to help customers
        achieve it.</b><br><br>
      </span>
      <b>So we deliver quality of products imported from different country
      within affordable rate. Making people to live in a better
      place is our only goal.</b><br>
    </div>
  </div>
  <div class="about rcorners">
    <h2>Contact Us</h2>
    <div class="description">
      <b>
        <a href="/"><i class="fas fa-globe"> </i> belaobela.com </a>

        <p><i class="fa fa-phone" aria-hidden="true"></i>
        +880 1755-000000</p>

        <span>facebook: </span>
        <a target="_blank" href="https://web.facebook.com/groups/">
           BelaObela Club
        </a>


      </b>
    </div>
  </div>
</div>
