.background {
  background-color: white;
  /*margin-bottom: 200px*/
  margin-bottom: 100px;
}

.row {
  margin-left: 20%;
  margin-right: 10px;
  padding: 0px;
}

.catView {
  margin-left: 23%;
  margin-right: 10px;
  padding: 10px;
  font-size: 130%;
  padding-top: 30px;
}

.catView2 {
  background-color: #333;
  margin-left: 23%;
  margin-right: 10px;
  padding: 10px;
  font-size: 130%;
}

.title_view {
  margin-left: 23%;
  margin-right: 10px;
  padding: 10px;
  font-size: 130%;
  padding-top: 30px;
  color: rgb(66, 134, 244);
}

.simple {
  font-size: 80%;
  color: rgb(130,130,130);
}

@media screen and (max-width: 650px){
  .row {
    margin-left: 0%;
  }
  .catView {
    margin-left: 3%;
  }
  .catView2 {
    margin-left: 1%;
    margin-right: 0px;
  }
  .title_view {
    margin-left: 3%;
  }
}

.thumbnail {
  /*background-color: rgba(240,230,160,0.35);*/
  background-color: white;
}
.card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  /*transition: 0.3s;*/
  /*min-width: 260px;*/
  min-width: 110%;
  /*min-height: 350px;*/

}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(245,245,245);
}

/*.container {*/
  /*padding: 2px 12px;*/
  /*overflow-x: hidden;*/

/*}*/

.thumbnail img {
  height: 180px;
  width: 280px;
}

.thumbnail .description {
  color: #003333;
}

.price {
  font-weight: bold;
  font-size: 15px;
}

.btn1 {
  float: left;
}

.btn2 {
  float: right;
}

.link {
  cursor: pointer;
  cursor: hand;
}
.name {
  text-align: center;
  color: rgb(50,120,200);
}

.name:hover {
  color: #26734d;
  text-decoration: underline;
}

.showTwo {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.showOne {
  line-height: 1.5em;
  /*height: 3em;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}


/*side bar*/
.sidenav {
  /*height: ;*/
  width: 20%;
  /*min-height: available;*/
  position: absolute;
  /*position: fixed;*/
  /*z-index: 1;*/
  /*top: 5px;*/
  /*left: 5px;*/
  /*background-color: rgb(255,255,255);*/
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 100px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 16px;

  color: #000000;
  display: block;
  margin-left: 4px;
}

.sidenav a:hover {
  background-color: rgb(250,250,250);
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 650px){
  .sidenav {
    display: none;
  }
}


/*right arrow*/
i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-top: 7px;
  /*float: right;*/
  /*align-self: center;*/
}

i:hover {
  /*transform: scale(1.1);*/
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media (min-width: 1200px) {
  .my-custom-container{
    width:1300px;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}


.button4 {
  background-color: white;
  color: black;
  border: 2px solid #c7c7c7;
}

.button4:hover {
  background-color: #d7d7d7;
}

/*search box*/
.form1 {
  outline: 0;
  /*float: left;*/
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.form1 > .textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  /*float: left;*/
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.form1 > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

.form1 > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.form1 > .button:hover {
  background-color: rgba(100, 150, 255, 0.8);
  cursor: pointer;
  cursor: hand;
}

.mobile_search {
  visibility: hidden;
}

@media screen and (max-width: 1000px){
  .mobile_search {
    visibility: visible;
  }
}
