.new {
  min-height: 400px;
  margin-bottom: 100px;
}

.catHeader {
  text-align: center;
  font-size: 200%;
  background-color: rgba(120,200,120,1);
  color: black;
  margin-bottom: 10px;
}

.sizeControl {
  padding-top: 5%;
  max-width: 60%;
  margin-left: 15%;
}

.category_show {
  width: 90%;
  margin-left: 5%;
  background-color: rgba(200,230,240,.8);
  padding-left: 20px;
  font-size: 130%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.subcategory {
  background-color: rgba(180,240,255,.8);
  padding: 8px;
  /*margin-bottom: 100px;*/
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
  /*height: 300px; !* Should be removed. Only for demonstration *!*/
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(200,230,240,.8);
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.borders {
  border: 3px solid #4CAF50;
  min-height: 300px;
}

.border_down {
  border-bottom: 3px solid white;
  margin: 3px;
}


@media screen and (max-width: 1000px){
  .sizeControl {
    padding-top: 5%;
    max-width: 100%;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 900px){
  .category_show {
    width: 96%;
    margin-left: 2%;
  }

  .column {
    float: none;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 350px){
  .category_show {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }
}
