a {
  color: rgb(100, 150, 255);
  /*text-decoration: none;*/
}

a:hover {
  color: #000;
}
ol, ul {
  list-style: none;
  padding:0px;
  margin:0px;
}
#wrap {
  margin: 0 auto;
}

.inner {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 10px;
}

.relative {
  position: relative;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Main Header */
#wrap > header {
  /* background-color: #333; */
  background: rgb(124, 172, 172);
  padding-bottom: 5px;
  padding-top: 5px;
}
.logo {
  display: inline-block;
  font-size: 0;
  height: 50px;
  padding-top:15px;
}
#navigation {
  position: absolute;
  right: 40px;
  bottom: 0px;
}

#menu-toggle {
  display: none;
  float: right;
}

/* HEADER > MENU */
#main-menu {
  float: right;;
  font-size: 0;
  margin: 10px 0;
}

#main-menu > li {
  display: inline-block;
  margin-left: 30px;
  padding: 2px 0;
}

#main-menu > li.parent {
  /* background-image: url(./images/plus-gray.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: left center; */
}

#main-menu > li.plus {
  background-image: url(./images/plus-gray.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: left center;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#main-menu > li.parent > a {
  padding-left: 14px;
}

#main-menu > li > a {
  color: #fff;
  font-size: 15px;
  line-height: 14px;
  padding: 20px 0;
  text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
  color: rgb(0, 0, 0);
}

#main-menu li {
  position: relative;
}

ul.sub-menu {
  display: none;
  left: 0px;
  top: 30px;
  padding-top: 0px;
  position: absolute;
  width: 300px;
  z-index: 9999;
}


ul.sub-menu ul.sub-menu {
  margin-top: -1px;
  padding-top: 0;
  left: 149px;
  top: 0px;
}

ul.sub-menu > li > a {
  background-color: #333;
  background-color: rgb(108, 167, 167);
  text-shadow: rgba(0, 0, 0, 0.12);
  border-top: none;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
  /*background-color: #2a2a2a;*/
  background-color: rgb(51, 78, 74);
  color: #fff;
}

ul.sub-menu > li:first-child {
  border-top: 3px solid rgb(33, 46, 44);
}

ul.sub-menu ul.sub-menu > li:first-child {
  border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
  border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
  background-image: url(./images/arrow.png);
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
  display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

  /*#navigation {*/
    /*position: static;*/
    /*margin-top: 20px;*/
  /*}*/

  /*#menu-toggle {*/
    /*display: block;*/
  /*}*/

  /*#main-menu {*/
    /*display: none;*/
    /*float: none;*/
  /*}*/

  /*#main-menu li {*/
    /*!*display: block;*!*/
    /*margin: 0;*/
    /*padding: 0px;*/
  /*}*/

  #main-menu > li {
    margin-top: -1px;
  }

  #main-menu > li:first-child {
    margin-top: 0;
  }

  #main-menu > li > a {
    background-color: #333;
    border: 1px solid #444;
    /*color: #bbb;*/
    /*display: block;*/
    font-size: 12px;
    padding: 10px;
    padding: 0;
  }



  #main-menu li > a:hover {
    background-color: #444;
  }

  /*#main-menu > li.parent {*/
    /*background: none;*/
    /*padding: 0;*/
  /*}*/

  /*#main-menu > li:hover > a,*/
  /*#main-menu > li.current-menu-item > a {*/
    /*border: 1px solid #444;*/
    /*color: #fff;*/
  /*}*/

  /*ul.sub-menu {*/
    /*display: block;*/
    /*margin-top: -1px;*/
    /*margin-left: 20px;*/
    /*position: static;*/
    /*padding: 0;*/
    /*width: inherit;*/
  /*}*/

  /*ul.sub-menu > li:first-child {*/
    /*border-top: 1px solid #444 ;*/
  /*}*/

  /*ul.sub-menu > li > a.parent {*/
    /*background: #333;*/
  /*}*/

}

@media screen and (max-width: 320px) {
  #main-menu li {
    margin: 0;
    padding: 0px;
  }
}

@media screen and (max-width: 710px) {
  .link_logo {
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .form1 {
    visibility: hidden;
  }
}

.dropdown-caret {
  color: white;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.link_logo {
  /*max-width: 10px;*/
}
.link {
  cursor: pointer;
  cursor: hand;
}






/*search box*/

.form1 {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.form1 > .textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.form1 > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

.form1 > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.form1 > .button:hover {
  background-color: rgba(100, 150, 255, 0.8);
  cursor: pointer;
  cursor: hand;
}


