<div id="wrap">
  <header>
    <div class="inner relative">

      <a class="link_logo" href="/">
        <h3 style="color:  #ffffff; font: normal 30px 'cookie', cursive;">
          Bela
          <span style="color:  #5383d3;">Obela</span>
        </h3>
      </a>



      <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
      <nav id="navigation">
        <div class="form1">
          <input [(ngModel)]="searchKey" type="text" class="textbox" placeholder="Search">
          <input (click)="searchProduct()" title="Search" type="submit" value="" class="button">
        </div>
        <ul id="main-menu">

          <li><a href="/">Home</a></li>

          <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/dashboard']">Orders</a>
          </li>

          <li class="parent">
            <a>Category</a>
            <span class="dropdown-caret"></span>
            <ul class="sub-menu">
              <li  *ngFor="let cat of Category; let i = index">
                <a class="link" (click)="catSelect(cat)">{{ cat.category }}</a>
              </li>

              <!--<li>         &lt;!&ndash;   Category sub list &ndash;&gt;-->
              <!--<a class="parent" href="#"><i class="icon-file-alt"></i> Pages</a>-->
              <!--<ul class="sub-menu">-->
              <!--<li><a href="#">Full Width</a></li>-->
              <!--<li><a href="#">Left Sidebar</a></li>-->
              <!--<li><a href="#">Right Sidebar</a></li>-->
              <!--<li><a href="#">Double Sidebar</a></li>-->
              <!--</ul>-->
              <!--</li>-->
            </ul>
          </li>

          <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/loginregister']">Login/Register</a>
          </li>


          <li  *ngIf="authService.isAdmin()" class="parent plus">
            <a>Add</a>
            <ul class="sub-menu" style="width: 200px;">
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
                <a [routerLink]="['/product']"> Add Product</a>
              </li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
                <a [routerLink]="['/category']"> Add Category</a>
              </li>
            </ul>
          </li>


          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/cart']"><i class="glyphicon glyphicon-shopping-cart"></i>
              <span class="badge">{{ productService.getProductCartSize() || cart }}</span>
            </a>
          </li>

          <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/profile']"> Profile </a>
          </li>

          <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a  (click)="onLogoutClick()"  [routerLink]="['/home']"> Logout</a>
          </li>

        </ul>
      </nav>
    </div>
  </header>
</div>
